.action-bar {
  min-height: 100px !important;
  background: white !important;
  box-shadow: 0 0 5px #888;
}

.action-bar p {
  color: rgb(138, 136, 136);
  font-size: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  background-color: rgba(140, 179, 135, 0.842);
}

.dot-red {
  background-color: rgb(185, 87, 87);
}
