<div #scrollMe class="chat-ui">
  <!-- <div class="chat-ui-row" *ngFor="let message of messages | async" [ngClass]="{'start': message.author === 'yvon',  'end': message.author === 'student'}">
    <mat-card [ngClass]="{'chat-ui-yvon': message.author === 'yvon',  'chat-ui-student': message.author === 'student'}">
      {{ message.content }}
    </mat-card>
  </div> -->
  <ng-container *ngFor="let message of messages | async">
    <div *ngIf="message.author === 'student' || message.author === 'yvon'" class="chat-ui-row" [ngClass]="{'start': message.author === 'yvon',  'end': message.author === 'student'}">
      <mat-card [ngClass]="{'chat-ui-yvon': message.author === 'yvon',  'chat-ui-student': message.author === 'student'}">
        {{ message.content }}
      </mat-card>
    </div>
    <div *ngIf="message.author === 'caroussel'">
      <div class="chat-ui-row card-options">
        <div class="card--content" *ngFor="let option of message.content">
          <mat-card class="card-mat" (click)="onClickOnCard(option)">
            <mat-card-header>
              <mat-card-title>{{ option?.name }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ option?.logo }}" class="img-option">
            <mat-card-content>
              <p class="block-with-text">
                {{ option?.description }}
              </p>
            </mat-card-content>
            <mat-card-actions *ngIf="option?.buttons && option?.buttons.btns && option?.buttons.btns.length > 0">
              <button *ngFor="let but of option.buttons.btns" mat-fab color="warn" (click)="onClickOnCard(but)">{{but.text}}</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div *ngIf="message.author === 'carousselCours'">
      <div class="chat-ui-row card-options">
        <div class="card--content" *ngFor="let option of message.content">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ option?.courseName }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ul>
                <li>Salle : {{ option?.salle }}</li>
                <li>Date de debut : {{ option?.startDate | date:'medium' }}</li>
                <li>Date de fin : {{ option?.endDate | date:'medium' }}</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </ng-container>
</div>
