<div>
  <div class="buttonInSpinner">
    <mat-progress-spinner color="warn" mode="determinate" [value]="loaderPercent" class="spinnerIn">
    </mat-progress-spinner>
    <button mat-fab color="warn" (click)="start()" class="buttonIn">
      <mat-icon *ngIf="status === 'recording' || status === 'wait' ">mic</mat-icon>
      <mat-icon *ngIf="status !== 'recording' && status !== 'wait' && loading === 0">mic_none</mat-icon>
      <div *ngIf="status !== 'recording' && status !== 'wait' && loading > 0" class="loader-5">
        <div *ngIf="status !== 'recording' && status !== 'wait' && loading > 0" class="loader-5">
          <span></span>
        </div>
      </div>
    </button>
  </div>
</div>
<!-- END PAGE CONTENT WRAPPER -->
