<!-- START PAGE CONTENT WRAPPER -->
<div class="page-content-wrapper ">
  <!-- START PAGE CONTENT -->
  <div class="content ">



    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <h1>Recorder.js simple WAV export example</h1>

        <p>Make sure you are using a recent version of Google Chrome.</p>
        <p>Also before you enable microphone input either plug in headphones or turn the volume down if you want to avoid ear
          splitting feedback!</p>

        <button [disabled]="isRecording" (click)="record()">Record</button>
        <button [disabled]="!isRecording" (click)="stop()">Stop</button>

        <h2>Recordings</h2>
        <ul id="recordingslist"></ul>

        <h2>Log</h2>
        <pre id="log"></pre>
      </div>
      <!-- END PANEL -->
    </div>

  </div>
  <!-- END PAGE CONTENT -->

  <!-- START FOOTER -->

  <!-- END FOOTER -->

</div>
<!-- END PAGE CONTENT WRAPPER -->
